// header -----------------------------------------------------
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
}

.header {

    white-space: nowrap;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-grey-light-3);

    &__bold {
        // font-size: 1.5rem;
        font-weight: bold;
        color: rgb(34, 34, 34);
        background-color: rgb(144, 200, 226);
        border-radius: 10rem;
        padding: 1rem 2rem;
    }

    &__page-views {
        font-size: 1rem;
    }

    &__page-views-number {}
}

.header-2 {
    color: var(--color-grey-light-3);
    text-align: center;
    font-size: 1.2rem;

}

/* Chatbox */
.chatbox {
    font-size: 1.5rem;
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // min-height: 90vh;
    box-sizing: border-box;
    min-height: 50rem;
    max-width: 35rem;

    border: 8px inset rgb(56, 56, 56);
    box-shadow: 6px 6px 18px rgb(31, 31, 31);

    &__messgbox {
        // background-color: rgb(223, 223, 223);
        // display: flex;
        align-items: center;
        flex-direction: column;
        // justify-content: flex-end;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 50rem;
    }

    &__messg-item {
        // background-color: rgb(224, 224, 224);
        // background-color: rgb(223, 223, 223);

        padding: 0.5rem 0.5rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        // justify-content: space-evenly;
        // width: 50rem;
        margin: 0.3rem 0.3rem;
        // border: 2px solid blue;

        &-sender {
            // background-color: rgb(44, 44, 44);
            flex: 0 0 35%;
            text-align: center;
            // color: #5295CD;
            color: #9CDCFE;
            // white-space: nowrap;
            // margin: 1rem 1rem; 
        }

        &-tag {
            color: #5295CD;
        }

        &-date {
            color: #5295CD;
            font-size: 1.2rem;
        }

        &-messg {
            // background-color: rgb(29, 29, 29);s
            margin: 0 1rem;
            word-wrap: break-word;
            flex: 1;
            color: rgb(195, 138, 114);
        }

    }

    &__typebox {
        background-color: rgb(134, 134, 236);
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__input {
        font-size: 1.6rem;
        background-color: rgb(228, 228, 228);
        border: none;
        padding: 1rem 1rem;
        border-radius: 2.5rem;
        flex: 1;
        margin-right: 1.2rem;
    }

    &__send-btn {
        font-size: 1.8rem;
        background-color: rgb(42, 80, 124);
        text-decoration: none;
        color: rgb(212, 212, 212);
        // border: 2px double rgb(39, 39, 39);
        padding: 1rem 1.5rem;
        cursor: pointer;
        border-radius: 2.5rem;
        flex: 0 0 25%;
    }
}